[Unit]
Description=Yoctocoupler systemd-networkd bootstrap
Requires=systemd-networkd.service
Wants=systemd-networkd-wait-online.service
After=systemd-networkd.service
Before=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
